schemas/plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:pln="urn:clayers:plan"
           xmlns:rel="urn:clayers:relation"
           xmlns:llm="urn:clayers:llm"
           xmlns:spec="urn:clayers:spec"
           targetNamespace="urn:clayers:plan"
           elementFormDefault="qualified"
           version="1.2">

  <xs:import namespace="urn:clayers:relation"
             schemaLocation="relation.xsd"/>

  <xs:annotation>
    <xs:documentation>
      Plan Layer Schema.
      Implementation plans with itemized steps and testable acceptance
      criteria. Plans are self-contained: they embed their own title,
      overview, and item descriptions directly rather than referencing
      external prose sections. Plans support embedded prose layer elements
      via xs:any for rich content when needed. Criteria reference tests
      from the testing layer via the test attribute. The revises element
      is an extension relation type for plan succession chains.
    </xs:documentation>
    <xs:appinfo>
      <llm:describe>
        The plan schema captures implementation plans as structured metadata.
        Each pln:plan is self-contained with an embedded title, optional
        overview, status, and one or more items. Items have titles, optional
        descriptions, acceptance criteria, and status tracking. Plans and
        items support xs:any namespace="##other" for embedding prose layer
        elements (pr:section, pr:p, trm:ref, src:cite, etc.) directly
        inside the plan for rich content. Criteria reference tests from the
        testing layer via the optional test attribute, replacing the
        previous embedded witness model. The pln:revises element is an
        extension relation type for plan revision chains, activated via a
        refines edge to type-relation-kind.
      </llm:describe>
      <spec:keyref name="revises-from-refs" selector=".//pln:revises" field="@from"/>
      <spec:keyref name="revises-to-refs" selector=".//pln:revises" field="@to"/>
      <spec:keyref name="criterion-test-refs" selector=".//pln:criterion" field="@test"/>
    </xs:appinfo>
  </xs:annotation>

  <!-- Global plan element -->
  <xs:element name="plan" type="pln:PlanType">
    <xs:annotation><xs:appinfo><spec:content-element/></xs:appinfo></xs:annotation>
  </xs:element>

  <!-- Global revises element (extension relation type) -->
  <xs:element name="revises" type="pln:RevisesType">
    <xs:annotation><xs:appinfo><spec:content-element/></xs:appinfo></xs:annotation>
  </xs:element>

  <!-- Plan: self-contained implementation plan with embedded content -->
  <xs:complexType name="PlanType" id="type-plan">
    <xs:annotation>
      <xs:appinfo>
        <llm:describe>
          A self-contained implementation plan. The id attribute makes it an
          addressable node. Unlike decisions (which reference external prose
          via ref), plans embed their own title, optional overview, and items
          directly. Plans also support xs:any for embedding rich prose layer
          elements (pr:section, pr:p, trm:ref, src:cite) when the simple
          title/overview fields are insufficient. Status tracks the lifecycle:
          proposed, active, completed, abandoned.
        </llm:describe>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="title" type="xs:string">
        <xs:annotation>
          <xs:documentation>Short title for the plan.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="overview" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional brief overview for simple plans. For rich
          content, use embedded prose layer elements via xs:any instead.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="pln:PlanStatusKind"/>
      <xs:any namespace="##other" processContents="strict"
              minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="item" type="pln:ItemType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>One or more plan items (steps).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation>Unique identifier for this plan node.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Item: a discrete step within a plan -->
  <xs:complexType name="ItemType" id="type-plan-item">
    <xs:annotation>
      <xs:appinfo>
        <llm:describe>
          A discrete step within a plan. Self-contained with its own title
          and optional description. Items have testable acceptance criteria
          with test references, status tracking, optional notes, and support
          for nested sub-items. Items also support xs:any for embedding prose
          layer elements when the simple description field is insufficient.
        </llm:describe>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="title" type="xs:string">
        <xs:annotation>
          <xs:documentation>Short title for the item.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional description for simple items. For rich
          content, use embedded prose layer elements via xs:any instead.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="strict"
              minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="acceptance" type="pln:AcceptanceType">
        <xs:annotation>
          <xs:documentation>Testable acceptance criteria for this item.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="item-status" type="pln:ItemStatusKind"/>
      <xs:element name="note" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional note about the item.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="item" type="pln:ItemType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Nested sub-items for decomposition.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation>Unique identifier for this item node.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Acceptance: container for testable criteria -->
  <xs:complexType name="AcceptanceType" id="type-acceptance">
    <xs:annotation>
      <xs:appinfo>
        <llm:describe>
          Container for one or more testable criteria. Each criterion
          defines what must be true for an item to be considered complete,
          with optional test references for verification.
        </llm:describe>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criterion" type="pln:CriterionType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>One or more testable criteria.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Criterion: a testable condition with optional test reference -->
  <xs:complexType name="CriterionType" id="type-criterion" mixed="true">
    <xs:annotation>
      <xs:appinfo>
        <llm:describe>
          A testable criterion. Mixed content: inline text describes what
          must be true. Optional ref attribute links to the spec node
          verified by this criterion. Optional test attribute references
          a test node from the testing layer that proves the criterion.
        </llm:describe>
      </xs:appinfo>
    </xs:annotation>
    <xs:attribute name="ref" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Optional node ID of the spec node this criterion verifies.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="test" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>References a test node ID from the testing layer.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Plan status lifecycle -->
  <xs:simpleType name="PlanStatusKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="proposed">
        <xs:annotation>
          <xs:documentation>Plan is under consideration, not yet active.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="active">
        <xs:annotation>
          <xs:documentation>Plan is being executed.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="completed">
        <xs:annotation>
          <xs:documentation>All items completed successfully.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="abandoned">
        <xs:annotation>
          <xs:documentation>Plan was abandoned before completion.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- Item status lifecycle -->
  <xs:simpleType name="ItemStatusKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pending">
        <xs:annotation>
          <xs:documentation>Item has not been started.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="in-progress">
        <xs:annotation>
          <xs:documentation>Item is currently being worked on.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="completed">
        <xs:annotation>
          <xs:documentation>Item completed and acceptance criteria met.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="blocked">
        <xs:annotation>
          <xs:documentation>Item cannot proceed due to external dependency.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="skipped">
        <xs:annotation>
          <xs:documentation>Item was intentionally skipped.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- Revises: extension relation type for plan succession chains -->
  <xs:complexType name="RevisesType" id="type-revises">
    <xs:annotation>
      <xs:appinfo>
        <rel:relation-type-properties
          relation-name="revises"
          acyclic="true"
          from-attr="from"
          to-attr="to"/>
        <llm:describe>
          An extension relation type for plan revision chains. The from
          attribute is the new plan that revises the old plan in the to
          attribute. Acyclic: a revision cycle is logically impossible
          (a plan cannot transitively revise itself). Activated by a
          refines edge from type-revises to type-relation-kind.
        </llm:describe>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="note" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="from" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>ID of the new plan (the one that revises).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="to" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>ID of the old plan (the one being revised).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

</xs:schema>
