schemas/repository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:repo="urn:clayers:repository"
           targetNamespace="urn:clayers:repository"
           elementFormDefault="qualified">

  <!-- ================================================================== -->
  <!-- Shared types                                                       -->
  <!-- ================================================================== -->

  <!-- Content-addressed hash: "algorithm:hex" (e.g., sha256:abc123...) -->
  <xs:simpleType name="HashType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9]+:[a-f0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================== -->
  <!-- Versioning elements                                                -->
  <!-- ================================================================== -->

  <!-- A tree object mapping file paths to document hashes -->
  <xs:element name="tree">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="repo:HashType">
                <xs:attribute name="path" type="xs:string" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- A commit object -->
  <xs:element name="commit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tree" type="repo:HashType"/>
        <xs:element name="parent" type="repo:HashType"
                    minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="author" type="repo:PersonType"/>
        <xs:element name="timestamp" type="xs:dateTime"/>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- An annotated tag -->
  <xs:element name="tag">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="target" type="repo:HashType"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="tagger" type="repo:PersonType"/>
        <xs:element name="timestamp" type="xs:dateTime"/>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- A document root pointer -->
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="root" type="repo:HashType"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="optional"/>
      <xs:attribute name="encoding" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- Person type (author or tagger) -->
  <xs:complexType name="PersonType">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="email" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- ================================================================== -->
  <!-- Conflict elements                                                  -->
  <!-- ================================================================== -->

  <!-- A divergence: contains the ancestor version and conflicting sides -->
  <xs:element name="divergence">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ancestor" type="repo:ConflictVersionType"/>
        <xs:element name="side" type="repo:ConflictVersionType"
                    minOccurs="2" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="path" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- A version in a conflict (ancestor or side) with arbitrary content -->
  <xs:complexType name="ConflictVersionType">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"
              minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="commit" type="repo:HashType" use="required"/>
    <xs:attribute name="ref" type="xs:string" use="optional"/>
  </xs:complexType>

</xs:schema>
